# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example

# Test / coverage
coverage/
playwright-report/
test-results/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Prisma
packages/db/prisma/*.db

# Turbo
.turbo/
